body {
    min-width: 1173px;
}

main {
    width: 652px;
    text-align: left;
    margin-left: 180px;
}

main p {
    font-size: 14px;
    line-height: 43px;
}

h2 {
    font-size: 20px;
    color: #222;
    line-height: 26px;
    font-weight: normal;
}

footer {
    position: relative;
}

/* Rules for the section that contains a single search result's information  */

section {
    width: 600px;
    margin-bottom: 27px;
}

.result-header {
    line-height: 1.3;
}



.result-url {
    padding: 1px 0;
    color: #202124;
    font-size: 14px;
}

.result-url-extend {
    color: #5f6368;
}

.result-arrow {
    border-style: solid;
    border-color: #70757a transparent;
    border-width: 5px 4px 0 4px;
    width: 0;
    height: 0;
    position: relative;
    left: 8px;
    top: 10px;
}

.result-title {
    padding-top: 4px;
    font-size: 20px;
    margin-bottom: 3px;
}

.result-about {
    line-height: 1.58;
    font-size: 14px;
    color: #4d5156;
}

/* Rules for the expanded result containers */

.result-box {
    position: relative;
    font-size: 14px;
    padding: 16px;
    width: 652px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    margin-bottom: 27px;
}

div[class="result-box"] section {
    margin-top: 20px;
    margin-bottom: 0;
}

.result-box-expand {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    line-height: 26px;
}

.result-box-tiles {
    display: flex;
    margin-top: 14px;
    margin-bottom: 4px;
    justify-content: space-between;
}

.tile-name {
    margin-top: 3px;
    word-wrap: normal;
    width: 77px;
}

.result-feedback {
    position: absolute;
    text-align: right;
    font-size: 12px;
    right: 16px;
    bottom: -20px;
}

.result-feedback a {
    margin-left: 24px;
}

.result-tab {
    display: block;
    padding: 9px 40px 9px 16px;
    border-top: 1px solid #dfe1e5;
}

.result-tab h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.58;
}

.result-tab-top {
    padding: 9px 40px 9px 16px;
}

/* Rules for the video results container */
.videos {
    display: flex;
    width: 652px;
    justify-content: space-between;
}

.videos-tile {
    position: relative;
    width: 212px;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    font-size: 14px;
    line-height: 1.5800000429153442em;
}

.videos-tile img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.videos-tile-time {
    position: absolute;
    display: block;
    width: fit-content;
    top: 88px;
    left: 10px;
    border-radius: 2px;
    padding: 3px 4px 0 4px;
    background-color: rgba(0,0,0,.54);
    font-size: 12px;
    color: #fff;
}

.videos-tile-link {
    margin: 16px 16px 0 16px;
    height: 110px;
    line-height: 22px;
    font-size: 16px;
}

.videos-tile-about {
    margin: 0 16px 11px 16px;
    white-space: nowrap;
}

.videos-swipe {
    line-height: 24px;
    position: relative;
    margin-top: -19px;
    margin-left: -19px;
    top: 150px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04), 0 4px 8px 0 rgba(0,0,0,0.20);
    background-color: #fff;
    text-align: center;
}

/* Rules for related search phrases near bottom of page */

.related-phrases-box {
    margin-bottom: 28px;
}

.related-phrases-box h2 {
    padding-bottom: 20px;
}

.related-phrases-list {
    display: flex;
    height: 105px;
    line-height: 20px;
    font-size: 14px;
}

.related-phrases-list li {
    padding: 3px 32px 3px 0;
}

/* Rules for the page navigation container near bottom of page */
.nav-page-box {
    width: 100%;
}

.nav-page-table {
    margin: 0 auto 30px;
    font-size: 14px;
    border-collapse: collapse;
}

.nav-page-table td {
    padding: 0px;
    text-align: center;
}

.nav-page-table a {
    color: #4285f4;
}

.nav-page-G {
    display: block;
    background: url(/images/google-nav-logos.webp) no-repeat;
    background-position: -24px 0;
    height: 40px;
    width: 28px;
}

.nav-page-o-red {
    display: block;
    background: url(/images/google-nav-logos.webp) no-repeat;
    background-position: -53px 0;
    height: 40px;
    width: 20px;
}

.nav-page-o {
    display: block;
    background: url(/images/google-nav-logos.webp) no-repeat;
    background-position: -74px 0;
    height: 40px;
    width: 20px;
}

.nav-page-gle {
    display: block;
    background: url(/images/google-nav-logos.webp) no-repeat;
    background-position: -96px 0;
    height: 40px;
    width: 71px;
}

/* Additional Rules for Page Footer (overrides some from style.css) */
.footer-box ul {
    padding-right: 30px;
    margin-left: 180px;
}

.footer-bar-search li {
    display: inline-block;
    padding-left: 23px;
    line-height: 40px;
    font-size: 15px;
    color: rgba(0,0,0,0.54);
}

.footer-bar-search li:first-child {
    padding-left: 0;
}

.footer-bar-search a {
    font-size: 14px;
    color: #5f6368;
}

.footer-bar-location {
    display: inline-block;
    margin-left: 9px;
    height: 25px;
    padding-left: 16px;
    border-left: 1px solid #e4e4e4;
    font-size: 14px;
    color: rgba(0,0,0,0.54);
}


/* Misc. rules for minor adjustments and icons */

a:hover[class="result-header"], a:hover[class="result-tab"] {
    text-decoration: none;
}

a:hover span[class="result-title"] {
    text-decoration: underline;
}

a[class="result-tab"] {
    color: #222;
}

section h2 {
    margin-bottom: 12px;
}

.total-results {
    display: block;
    height: 50px;
}

.add-margin-top {
    margin-top: 45px;
}

.text-light {
    color: #70757a;
}

.small-icon {
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 5px;
    color: #9e9e9e;
    fill: #9e9e9e;
    height:16px;
    width:16px;
}

.reset-padding {
    padding: 0;
}

.swipe-icon {
    display: block;
    position: absolute;
    margin-top: -12px; /* used to center into middle of element */
    margin-left: -12px; /* used to center into middle of element */
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    color: #757575;
    fill: #757575;
}

.tab-icon {
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    color: #757575;
    fill: #757575;
}

a:hover span[class="swipe-icon"]{
    color: #222;
    fill: #222;
}

.dot-icon {
    margin: 6px 0 9px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background-color: #9e9e9e;
    font-size: 14px;
    line-height: 15px;
    color: #5f6368;
    border-radius: 100%;
}

.address {
    color: #333;
    font-weight: bold;
}