body {
    text-align: center;
    font-family: Arial, sans-serif;
    min-height: 520px;
    min-width: 1139px;
}

p {
    min-width: 833px;
    font-size: 13px;
    color: #222;
    line-height: 28px;
}

a {
    text-decoration: none;
    color: #1a0dab;
}

a:hover {
    text-decoration: underline;
}

nav {
    padding-top: 11px;
}

footer {
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 1139px;

}

/* Class rules for Navigation section on top of page */
.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@media (max-width: 575px) {
    .nav-bar {
        position: absolute;
        left: -10000px;
        width: 1px;
        height: 1px;
        top: auto;
        overflow: hidden;
    }
}

.nav-container li {
    display: inline;
    font-size: 13px;
    padding-left: 15px;
}

.nav-left {
    margin-top: 7px;
    margin-left: 10px;
}

.nav-left a {
    color: #000;
    opacity: 0.75;
}

.nav-right {
    padding: 0 30px;
}

.nav-right a {
    color: #000;
    opacity: .85;
}
/* END of class rules for Navigation section */


/* Class rules for Footer section at bottom of page */
.footer-box {
    display: flex;
    border-top: 1px solid #e4e4e4;
    background: #f2f2f2;
}

.footer-box p {
    padding-left: 30px;
    font-size: 15px;
    line-height: 40px;
    color: rgba(0,0,0,0.54);
}

.footer-box ul {
    padding-right: 30px;
    margin-left: 30px;
}

.footer-bar {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer-bar li {
    display: inline-block;
    padding-left: 23px;
    line-height: 40px;

}

.footer-bar li:first-child {
    padding-left: 0;
}

.footer-bar a {
    font-size: 14px;
    color: #5f6368;
}

/* END of class rules for Footer section */


/* Misc rules for icons, buttons, logos and other elements */
#nav-expand-icon {
    display: inline-block;
    position: relative;
    top: 4px;
    margin: 0 auto;
    opacity: 0.55;
    width: 16px;
}

#nav-expand-icon:hover {
    opacity: 1;
}

#sign-in {
    color: #fff;
    padding: 6.5px 12px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: solid;
    outline: none;
    border: 1px solid #4285f4;
    border-radius: 2px;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    opacity: 1.0;
}

#sign-in:active {
    background: -webkit-linear-gradient(top,#3c7ae4,#3f76d3);
}

#logo-container {
    display: relative;
    padding-top: 109px;
    height: 233px;
}

#main-logo {
    display: block;
    margin: 0 auto;
    width: 272px;
    height: auto;
}

#search-form {
    margin: 0 auto;
    font-size: 13px;
}

#search-bar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 582px;
    height: 44px;
    padding: 0 8px 0 14px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
}

#search-bar:hover, #search-bar:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#search-text {
    color: rgba(0,0,0,.87);
    font-size: 16px;
    flex: 1 1 100%;
    border: none;
    outline: none;
}

#search-buttons {
    padding-top: 18px;
    height: 88px;
}

#search-buttons input[type=submit] {
    background-color: #f2f2f2;
    color: #5F6368;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

#search-buttons input[type=submit]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#search-buttons input[type=submit]:focus {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #4d90fe;
    outline: none;
}

.magnify-icon {
    display: inline-block;
    position: relative;
    top: 1px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin-right: 13px;
    fill: #9AA0A6;
}

.mic-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 13px;
}