body {
    text-align: center;
    font-family: Arial, sans-serif;
    min-height: 100%;
}

main {
    display: block;
    margin: 0 auto;
}

#logo-container {
    display: relative;
    padding-top: 109px;
    margin-top: 89px;
    height: 233px;
    min-width: 833px;
}

#logo-click {
    display: block;
    margin: 0 auto;
    width: 272px;
    height: auto;
}

#search-form {
    margin: 0 auto;
    width: 833px;
    font-size: 13px;
}

#search-bar {
    width: 482px;
    height: 44px;
    padding: 5px 48px 5px 47px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    outline: 0;
}

#search-bar:hover, #search-bar:focus {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#search-buttons {
    padding-top: 18px;
    height: 88px;
}

#search-buttons input[type=submit] {
    background-color: #f2f2f2;
    color: #5F6368;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

#search-buttons input[type=submit]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

p {
    min-width: 833px;
    font-size: 13px;
    color: #222;
    line-height: 28px;
}

a {
    padding: 0 3px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}